*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0 0;
}
/*=================================================*/




.todoList {
  /*margin: 0 30px;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 220px;
}

.todoListHead {

}

.todoListTasks {
  margin: 10px 0;
  flex: 1 1 auto;
}

.todoListTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.addTaskInput {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 40px;
}

.taskArea {
  display: flex;
  align-items: center;
}

.editableTitle {
  flex: 1 1 auto;
}

.is-done {
  opacity: 0.5;
}